body {
  font-family: "Arial", sans-serif;
  background: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

form {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

form label {
  display: block;
  margin-top: 10px;
}

form input[type="text"],
form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

form input[type="checkbox"] {
  margin-right: 5px;
}

button {
  background-color: #e50914;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}

button:hover {
  background-color: #f40612;
}

form div {
  margin-top: 20px;
  text-align: center;
}

a {
  color: #0071eb;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* This is for the reCAPTCHA message */
.captcha {
  text-align: center;
  font-size: 12px;
  margin-top: 20px;
}
