/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

:root {
  --white: #fff;
  --black: #1c2b2d;
  --blue: #31326f;
  --light-blue: #005490;
  --color-primary: #9d0191;
  --color-sec: #db6400;
  --grey: #eee;
  --dark-grey: #222831;
  --green: #008c00;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  background: var(--light-blue);
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

img {
  max-width: 100%;
}
hr {
  width: 90%;
}
.container {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background: var(--grey);
}
.chara-counter {
  background: var(--light-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.heading-primary {
  color: var(--white);
  font-weight: 400;
  margin: 1.4rem;
}
.number {
  margin: 0 auto 1.4rem;
  font-size: 3.6rem;
  display: inline-block;
  color: var(--white);
  border: 1px solid var(--white);
  padding: 1.2rem;
}
.input-txt {
  width: 40rem;
  border: none;
  padding: 1.2em;
  margin: 2.4em 4.4rem;
  border-radius: 5px;
}
/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/
