/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

:root {
  --white: #fff;
  --black: #1c2b2d;
  --blue: #31326f;
  --light-blue: #005490;
  --color-primary: #9d0191;
  --color-sec: #db6400;
  --grey: #eee;
  --dark-grey: #222831;
  --green: #008c00;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  background: var(--light-blue);
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

img {
  max-width: 100%;
}
.uppercase {
  text-transform: uppercase;
}

.container {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background: var(--light-blue);
}
.box {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
  border-radius: 5px;
  padding: 4rem;
}
.form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3.2rem;
}
.form__txt {
  outline: none;
  /* width: 250px; */
  border: none;
  border-bottom: 2px solid var(--color-sec);
  padding: 0.8em 0.2em; /* Set padding */
  font-size: 1.6em; /* Set font size */
}
.form__btn {
  color: var(--white);
  background-color: var(--color-primary);
  border: none;
  border-radius: 5px;
  margin: 0 1em;
  padding: 1em 2.5em;
}
.result {
  font-weight: 600;
  font-size: 2.4rem;
}
/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/
